@import url('../css/fonts.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    width: 100%
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    --yellow1: #FFE699;
    --yellow2: #FFF9B6;
    --google-lt-yellow: #FFECB3;
    --google-yellow: #fbbc04;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}





/* ---------------- Global Classes ---------------*/

a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 2.5rem;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

.text-gray {
    color: var(--text-gray);
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav {
    background: #f9f9f9;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--google-yellow);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: var(--pink2);
}

/* -------x------- navbar ---------x------- */

.main-container {
    width: 80vw;
    margin: 0 auto;
    padding: 40px 0;
}

.main-container>h2 {
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
}

.main-container>p {
    font-weight: 300;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}

.category-head {
    margin: 30px 0;
}

.category-head ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.category-title {
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content: center;
    background: #FFECB3;
    padding: 12px;
    color: #000;
    margin: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.category-title:hover {
    opacity: 0.7;
}

.category-title li {
    padding: 0 10px;
}

.category-title span {
    color: #222;
}


/** single post **/
.posts-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.posts-main-container>div {
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

.post-img {
    position: relative;
}

.category-name {
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
}

.business .category-name {
    background: #4285f4;
}

.culture .category-name {
    background: #e84435;
}

.politics .category-name {
    background: #0f9d58;
}

.finance .category-name {
    background: #fbbc04;
}

.sports .category-name {
    background: #676c72;
}


.post-content {
    padding: 25px;
}

.post-content-top {
    background: #676c72;
    color: #fff;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
}

.post-content-top span {
    padding-right: 20px;
}

.post-content-top .fa-comment,
.post-content-top .fa-calendar {
    padding-right: 5px;
}

.post-content h2 {
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}

.post-content p {
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.8;
}

.read-btn {
    border: none;
    padding: 8px 15px;
    display: block;
    margin: 5px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: transparent;
    margin-bottom: 40px;
}

.read-btn:hover {
    background: #FFCDD2;
}

/***************/
@media(max-width: 1170px) {
    .posts-main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .posts-main-container {
        grid-template-columns: 1fr;
    }
}


/***********/

.active {
    background: #fbbc04;
}